*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:hsl(249, 10%, 26%) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer{

    width: 95vw;
    height: 95vh;
    border: 2px solid  hsl(246, 25%, 77%);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    border-radius: 2vh;

}

.contactForm{
    width: 30vw;
    height: 50vh;
}
.contacts{
    width:60vw;
    height:90vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap :2vh;
    margin-top: 2vh;
  
}
.form input{
    width:25vw;
    height: 2vh;
    border: 3px solid  hsl(246, 25%, 77%) ;
    border-radius: 1vh;
    padding: 2vh;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    
}
.form button{
    width:25vw;
    height: 6vh;
    border-radius: 10vh;
    outline: none;
    cursor:pointer;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.table {
    border-collapse: collapse;
    width: 60vw;
    background-color:  hsl(246, 25%, 77%);
    overflow-y: scroll;
    

  }
  
  th, td {
    border: 1px solid hsl(249, 10%, 26%) ;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .actions{
    width:10vw;
    border:none;
  }
  .actionBtn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .actionBtn  .update{
    width: 10vw;
    height: 5vh;
    border-radius: 5vh;
    background-color: green;
    color: white;
    outline: none;
    cursor: pointer;
  }

  .actionBtn  .delete{
    width: 10vw;
    height: 5vh;
    border-radius: 5vh;
    background-color: red;
    color: white;
    outline: none;
    cursor: pointer;
  }

  @media screen and (max-width: 412px) {

    .mainContainer{
      flex-direction: column;
      align-items: center;
      gap:3vh
    }
    .contactForm{
      width: 80vw;
    }
    .form input{
      width: 80vw;
    }
    .form button{
      width: 80vw;
    }

    
  }